doctype html
html
  head
    title Slim Examples
    meta name="keywords" content="template language"
    meta name="author" content=author
    javascript:
      alert('Slim supports embedded javascript!')
  body
    h1 Markup examples
    ul.links
      li = link_to 'Home', '/home'
      li = button_to 'A button', '/a-button'
    #content
      p This example shows you what a basic Slim file looks like.
      == yield if block_given?
      - unless items.empty?
        table
          - items.each do |item|
            tr
              td.name = item.name
              td.price = item.price
      - else
        p
          | No items found.  Please add some inventory. Thank you!
    div id="footer"
      = render( 'footer' )
      | &nbsp; Copyright © #{year} #{author}
